.grid-practice {
    background: gray;
    width: 1000px;
    height: 1000px;
    // padding: 20px;
    .item {
        background-color: lightblue;
        // width: 100px;
        // height: 100px;
    }
}
